/* Define as configurações para telas pequenas
@media (max-width: 576px) {
Define as configurações para telas médias
@media (min-width: 576px) and (max-width: 768px) {
Define as configurações para telas grandes
@media (min-width: 768px) and (max-width: 992px) {
Define as configurações para telas extra grandes
@media (min-width: 992px) */

/* VARIAVEIS DAS CORES */
:root {
  --bg-primary: #3d4350;
  --bg-secondary: #505868;
  --navbar-menu: #303338;
  --highlighted-text: #adff2f;
  --normal-text: #ffffff;
  /* color: var(--text-color);*/
}

/* CONFIGURAÇÕES DA PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  color: var(--normal-text);
}
html {
  scroll-behavior: smooth;
}

/* ------------ NAVBAR ------------ */
/* Links - Hamburguer Menu */
li {
  list-style: none;
  position: relative;
  padding: 3px 10px;
}
header {
  background-color: var(--navbar-menu);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: var(--normal-text);
  transition: all 0.3s ease-in-out;
}
/* Logo config */
.logoText {
  overflow: hidden;
  display: flex;
  font-size: 1.8rem;
  user-select: none;
  font-weight: 700;
  color: var(--normal-text);
}
.logoDe {
  color: var(--highlighted-text);
}
.logoText:hover span {
  opacity: 1;
  margin-right: 5px;
}
.logoText span {
  transition: all 0.3s ease-out;
  width: 0;
  opacity: 0;
  display: inline-flex;
  overflow: hidden;
}
/* Underline Hover */
a {
  text-decoration: none;
  color: var(--normal-text);
}
a::after {
  content: "";
  position: absolute;
  background-color: var(--highlighted-text);
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 0.2s;
}
a:hover::after {
  width: 100%;
}

/* ------------ SECTION HOME ------------ */
#home {
  display: flex;
  background-color: var(--bg-primary);
  align-items: center;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
  max-height: 100%;
}
h1 {
  color: var(--highlighted-text);
  font-size: 4vw;
}
h2 {
  font-size: 3.5vw;
}
p {
  font-size: 1.8vw;
}
/* KEYFRAMES */
@keyframes anim-slideLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}
.anim-slide {
  animation: anim-slideLeft 1s ease-out;
}

/* ------------ SECTION ABOUT ------------ */
#about {
  background-color: var(--bg-secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.about-div-top {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-div {
  width: 25%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.large-icon {
  font-size: 8vw;
  padding: 10%;
}
#about h1 {
  font-size: 3.5rem;
}
#about h2 {
  color: var(--highlighted-text);
  font-size: 2.8rem;
}
#about p {
  font-size: 1.8vw;
}

/* ------------ CONFIGURAÇÃO DA PAGINA HABILIDADES ------------ */
#skills {
  background-color: var(--bg-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
}
.skills-title {
  width: 100%;
  height: 10%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-hidden {
  width: 300px;
  height: 400px;
  padding: 40px 30px;
  background-color: #00000080;
  border-radius: 20px;
  top: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(43, 49, 83, 0.7), rgba(48, 51, 56, 0.9));
  backdrop-filter: blur(6px);
  position: fixed;
  display: none;
}
.card {
  width: 100px;
  height: 100px;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(29, 31, 39);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.1s ease-in-out;
}
.card img {
  filter: grayscale(100%);
}
.card:hover {
  transform: scale(1.2);
  background-color: rgba(43, 49, 83, 0.7);
}
.card img:hover {
  filter: grayscale(0);
}
#skill h1 {
  color: var(--highlighted-text);
}
.card-hidden p {
  font-size: 20px;
}
.card-hidden h1 {
  font-size: 28px;
  color: #ffffff;
}

/* ------------ CONFIGURAÇÃO DA PAGINA PROJETOS ------------ */
#projects {
  background-color: var(--bg-secondary);
}

#contact {
  background-color: var(--bg-primary);
}

/* ----------------------------------------------- MEDIA QUERIES ----------------------------------------------- */
@media (max-width: 768px) {
  /* ------------ CONFIGURAÇÃO DA BARRA HAMBURGUER E NAVBAR ------------ */
  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    right: -100%;
    top: 60px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: #30333880;
    backdrop-filter: blur(6px);
    text-align: center;
    flex-direction: column;
    width: 45%;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    right: 0;
  }

  /* ------------ CONFIGURAÇÃO DA APRESENTAÇÃO HOME ------------ */
  section {
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .imgPresentation {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 38px;
  }
  p {
    font-size: 20px;
  }
  h1,
  h2,
  p {
    text-align: center;
  }

  /* ------------ CONFIGURAÇÃO DA PAGINA ABOUT ------------ */
  #about {
    flex-direction: column;
  }
  .about-box-top {
    width: 100%;
    height: 70%;
    padding-top: 0%;
    padding-bottom: 20%;
  }
  .about-box {
    width: 100%;
    height: 70%;
    padding-bottom: 10%;
  }
  #about p {
    font-size: 20px;
  }
  #about h1 {
    font-size: 2.5rem;
  }
  #about h2 {
    font-size: 2rem;
  }
  .large-icon {
    font-size: 80px;
    padding: 5%;
  }
}

@media (min-width: 768px) {
  /* ------------ CONFIGURAÇÃO DA APRESENTAÇÃO HOME ------------ */
  .presentation {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgPresentation {
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home {
    height: 100vh;
    min-height: 768px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-box {
    width: 50%;
  }
  #about {
    padding: 5% 2%;
  }
}

@media (min-width: 1028px) {
  #home,
  #about {
    height: 100vh;
    min-height: 768px;
  }
  #skills {
    height: 50vh;
    min-height: 576px;
  }
}
