/* Define as configurações para telas pequenas */
@media (max-width: 576px) {
  /* Adicione aqui as configurações para telas pequenas */
}

/* Define as configurações para telas médias */
@media (min-width: 576px) and (max-width: 768px) {
  /* Adicione aqui as configurações para telas médias */
}

/* Define as configurações para telas grandes */
@media (min-width: 768px) and (max-width: 992px) {
  /* Adicione aqui as configurações para telas grandes */
}

/* Define as configurações para telas extra grandes */
@media (min-width: 992px) {
  /* Adicione aqui as configurações para telas extra grandes */
}

/* VARIAVEIS DAS CORES */
:root {
  --bg-color: #3d4350;
  --accent-color: greenyellow;
  --title-color: #d9e3dd;
  --text-color: #ffffff;
  /* color: var(--text-color);*/
}

/* CONFIGURAÇÕES DA PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  color: #d9e3dd;
}

html {
  scroll-behavior: smooth;
}

/* ------------ NAVBAR ------------ */

/* Links - Hamburguer Menu */
li {
  list-style: none;
  position: relative;
  padding: 3px 10px;
}
header {
  background-color: #303338;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Ativa menu de hamburguer com tela fica menor */
@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    right: -100%;
    top: 60px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: rgba(48, 51, 56, 0.5);
    backdrop-filter: blur(6px);
    text-align: center;
    flex-direction: column;
    width: 45%;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    right: 0;
  }
}

/* Logo config */
.logoText {
  overflow: hidden;
  display: flex;
  font-size: 2rem;
  user-select: none;
  font-weight: 700;
  color: white;
}
.logoDe {
  color: greenyellow;
}
.logoText:hover span {
  opacity: 1;
  margin-right: 5px;
}
.logoText span {
  transition: all 0.3s ease-out;
  width: 0;
  opacity: 0;
  display: inline-flex;
  overflow: hidden;
}

/* Underline Hover */
a {
  text-decoration: none;
  color: white;
}
a::after {
  content: "";
  position: absolute;
  background-color: greenyellow;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 0.2s;
}
a:hover::after {
  width: 100%;
}

/* ------------ SECTION HOME ------------ */

#home {
  display: flex;
  background-color: #3d4350;
  align-items: center;
  justify-content: space-evenly;
}

section {
  height: 100vh;
}
.presentation {
  padding: 5% 5%;
}
@media (min-width: 768px) {
  .presentation {
    width: 50%;
    height: 70%;
    display: flex; /* torna a div um container flexível */
    align-items: center; /* alinha o conteúdo verticalmente ao centro */
    justify-content: center; /* alinha o conteúdo horizontalmente ao centro */
    padding: 0;
  }

  .imgPresentation {
    width: 40%;
    height: 70%;
    display: flex; /* torna a div um container flexível */
    align-items: center; /* alinha o conteúdo verticalmente ao centro */
    justify-content: center; /* alinha o conteúdo horizontalmente ao centro */
  }
}

img {
  max-width: 100%; /* define a largura máxima da imagem como 100% */
  max-height: 100%; /* define a altura máxima da imagem como 100% */
}

h1 {
  color: greenyellow;
  font-size: 4vw;
}

h2 {
  font-size: 3.5vw;
}

p {
  font-size: 1.8vw;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px; /* tamanho mínimo */
  }
  h2 {
    font-size: 24px; /* tamanho mínimo */
  }
  p {
    font-size: 20px; /* tamanho mínimo */
  }
  .imgPresentation {
    display: none;
  }
  h1,
  h2,
  p {
    text-align: center;
  }
}
